{{ define "navbarLinks" }}
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
            <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
            <a href="#popular">popular</a>
        </li>
        <li class="page-scroll">
            <a href="#footer">About</a>
        </li>
        <li class="page-scroll">
            <a href="#contact">Contact</a>
        </li>
    </ul>
</div>
{{ end }}